<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque recusandae aliquam magni nostrum voluptatum. Vel ut qui provident consectetur eveniet, facilis incidunt, autem porro nisi soluta consequuntur officiis. Reprehenderit repudiandae error officiis qui deserunt illo eum deleniti tempore molestiae fugit.</p>
    </div>
</section>