<div class="jumbotron mt-4 bg-dark text-white">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus odio eaque, fuga amet voluptas architecto voluptate incidunt totam dolores dolor fugit quibusdam quas. Molestiae blanditiis repellat ut. Molestiae, corporis dolores.</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">Fazt Web</a>
</div>